.hero-section {
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;


    >:nth-child(1) {
   
       position: relative;


       img {
        width: 55px;
        height: 55px;
        margin: 0;
        position: absolute;
        top: 4rem;
        right: 16rem;
       }
    }

    .header-text {
      
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
        justify-content: center;
        align-items: center;

        h1, p  {
            margin: 0;
        }

        .btn {
            padding: 12px 30px;
            border-radius: 7px;
            background:#B304FD;
            display: flex;
            align-items: center;
            color: #ffff;
            width: fit-content;
        }
    }

    .image-frame {
        img {
            width: 100%;
           
        }
    }
}