
@import "../../../scss/colors";
@import "../../../scss/globals";
@import "../../../scss/typography.scss";
@import "../../../scss/utils";

.client-dashboard_wrapper {
    padding: 60px;
    background-color: #f3f3f3;
}
.welcome_wrapper {
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 32px;
        line-height: 44px;
    }
    .search {
        height: 50px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: white;
        font-size: 20px;
        overflow: hidden;
        .left{
            display: flex;
            gap: 20px;
            align-items: center;
            width: 90%;
        }
        .input {
            height: 100%;
            width: 100%;
            font-size: 20px;
            line-height: 27px;
            border: none;
            background-color: inherit;
         
            &:focus {
                outline: none; 
                border-color: #AAAAAA; 
                box-shadow: none;
            }
        }
        .search-btn {
            height: 100%;
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 15px;
            font-weight: 200;
        }

    }
}


.tabs {
  overflow: hidden;
  margin-top: 100px;

  .tab-headers {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;

    .tab-header {
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
      text-align: center;
      cursor: pointer;
      color: #777777;
      transition: background-color 0.3s;
      &.active {
       color: $zeal_purple;
      }
    }
  }


}

//CARD//
.dashboard_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 36px;
    width: 314px;
    height: 210px;
    color: white;
    border-radius: 8px;
    .top {
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        align-items: center;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            color: black;
            border-radius: 50%;
            height: 60px;
            width: 60px;
            cursor: pointer;
        }
    }
    .bottom {
        font-size: 28px;
        font-weight: 700;
        line-height: 38px;
    }
}


//DASHBOARD//
.dashboard_wrapper {
    display: flex;
    gap: 20px;
}
.groupB_wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    font-weight: 700;
    font-size: 24px;
    color: #777777;
    margin-top: 100px;
    >:nth-child(1) {
        padding: 0px 20px;
        background-color: #f7f7f7;
    }
    >:nth-child(2) {
        display: flex;
        justify-content: center;
        padding: 40px;
        background-color: #ffff;
    }
    >:nth-child(3) {
        display: flex;
        justify-content: center;
        background-color: #f7f7f7;
        color: $zeal_purple;
        
    }
}

//JOBS//

.jobs_wrapper {
    padding: 0px 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        label {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
        }
        span {
            font-size: 16px;
            font-weight: 400;
            line-height: 21px;
            color: #777777;
         
        }
        .special_span {
            margin-left: 8px;
        }
       

        
    }
    .jobs_select, .jobs_input {
        height: 48px;
        border: 1px solid #CCCCCC;
        border-radius: 8px;
        color: #777777;
        text-indent: 8px;
    }
    .jobs_buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 59px;
      
        :nth-last-child(1) {
            background-color: transparent;
            color: $zeal_purple;
            border: 1px solid $zeal_purple;
        }
     
        
    }
    button {
        font-size: 16px;
        font-weight: 400;
        border-radius: 7px;
      
    }
  

}
.jobs-preview_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    p,span,h1,h2,h3 {
        margin: 0;
    }
    .jobs-preview_div1 {
        display: flex;
        justify-content: space-between;
        border: 1px solid #CCCCCC;
        align-items: center;
        padding: 40px 200px;
        background-color: white;

        button {
            background-color: #777777;
            color: white;
        }
      
        div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            :nth-child(1) {
                font-size: 14px;
                color: #777777;
            }
            :nth-child(2) {
                font-size: 20px;
            }
            :nth-child(3) {
                font-size: 24px;
                color: $zeal_purple;
            }
            :nth-child(4) {
                font-size: 16px;
                color: #777777;
            }
        }
    }
    .jobs-preview_div2 {
        display: flex;
        flex-direction: column;
        border: 1px solid #CCCCCC;
        padding: 40px 200px;
        background-color: white;
        span {
            font-size: 16px;
            color: #777777;
        }
        :nth-child(1) {
            font-size: 20px;
            font-weight: 600;
        }
    }

    .jobs-preview_div3 {
        border: 1px solid #CCCCCC;
        background-color: white;
      hr {
        width: 80%;
        color: #CCCCCC;
        opacity: .5;
      }
        
        .jobs-preview_div3_sub {
            display: flex;
            justify-content: space-between;
            padding: 40px 200px;
            div {
                display: flex;
                flex-direction: column;
                gap: 15px;
                text-align: center;
                :nth-child(1) {
                   font-weight: 600;
                   font-size: 16px;
                }
                :nth-child(2) {
                    color: $zeal_purple;
                    font-size: 24px;
                    font-weight: 600;
                }
            }
        }
    }
    .jobs-preview_div3_main {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 16px;
        font-weight: 600;
        padding: 40px 200px;
    }
    .jobs-link {
        display: flex;
        flex-direction: column;
        padding: 40px 200px;
        justify-content: center;
        gap: 50px;
        font-size: 16px;
        :nth-child(1) {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;
        }
        label {
            font-weight: 600;
        }

        input {
            height: 48px;
            width: 70%;
            border: 1px solid #CCCCCC;
            border-radius: 8px;
            text-indent: 8px;
         
        }
    }
}




