
@import "../../../scss/colors";
@import "../../../scss/globals";
@import "../../../scss/typography.scss";
@import "../../../scss/utils";

.client-dashboard_wrapper {
    padding: 60px;
    background-color: #f3f3f3;
}
.welcome_wrapper {
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 30px;
        line-height: 42px;
    }
    .search {
        height: 40px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: white;
        font-size: 18px;
        overflow: hidden;
        .left{
            display: flex;
            gap: 20px;
            align-items: center;
            width: 90%;
        }
        .input {
            height: 100%;
            width: 100%;
            font-size: 20px;
            line-height: 27px;
            border: none;
            background-color: inherit;
         
            &:focus {
                outline: none; 
                border-color: #AAAAAA; 
                box-shadow: none;
            }
        }
        .search-btn {
            height: 100%;
            width: 150px;
            margin: 0;
        }

    }
}


.tabs {
  overflow: hidden;
  margin-top: 100px;

  .tab-headers {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;

    .tab-header {
    font-weight: 500;
    font-size: 32px;
    line-height: 43px;
      text-align: center;
      cursor: pointer;
      color: #777777;
      transition: background-color 0.3s;
      &.active {
       color: $zeal_purple;
       padding: 0;
      }
    }
  }


}

//CARD//
.dashboard_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 36px;
    width: 314px;
    height: 210px;
    color: white;
    border-radius: 8px;
    .top {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        font-weight: 700;
        line-height: 32px;
        align-items: center;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            color: black;
            border-radius: 50%;
            height: 60px;
            width: 60px;
            cursor: pointer;
        }
    }
    .bottom {
        font-size: 20px;
        font-weight: 700;
        line-height: 38px;
    }
}


//DASHBOARD//
.dashboard_wrapper {
    display: flex;
    gap: 20px;
}
.groupB_wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    font-weight: 600;
    font-size: 20px;
    color: #777777;
    margin-top: 100px;
    >:nth-child(1) {
        padding: 0px 20px;
        background-color: #f7f7f7;
    }
    >:nth-child(2) {
        display: flex;
        justify-content: center;
        padding: 40px;
        background-color: #ffff;
    }
    >:nth-child(3) {
        display: flex;
        justify-content: center;
        background-color: #f7f7f7;
        color: $zeal_purple;
        p {
            cursor: pointer;
        }
        
    }

    .job-details {
        color: black;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .job-details_content {
            border: 1px solid #CCCCCC;
            padding: 0px 40px;
            :nth-child(3 ) {
                border: none;
                padding: 40px 0px;
            }
            .btn {
                width: 207px;
                height: 48px;
                font-size: 16px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
               
            }
            
            p {
            margin: 0;
            font-size: 20px;
            font-weight: 600;
           
        }

        div {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #CCCCCC;
            padding: 20px 0px;
            
          
            div {
                display: flex;
                flex-direction: column;
                gap: 5px;
                border: none;
              
                span {
                    font-size: 16px;
                    font-weight: 600;
                    color: #777777;
                }
            }
           
          
            
        }
            }
       
    }
}


@media screen  and (max-width: 600px) {
    .client-dashboard_wrapper {
        padding: 20px;

        .dashboard_wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
     
    }
    .welcome_wrapper {
        display: flex;
        flex-direction: column;
       
        h1 {
            font-size: 24px;
            line-height: 40px;
        }
        .search {
            height: 30px;
            .left{
                gap: 10px;  
            }
            .input {
                font-size: 14px;
                line-height: 20px;  
            }
            .search-btn {
                height: 100%;
                width: 100px;
            }
        }
    }
    .tabs {
      overflow: hidden;
      margin-top: 40px;
    
      .tab-headers {
        display: flex;
        gap: 15px;
        margin-bottom: 10px;
    
        .tab-header {
        font-size: 15px;
        line-height: 30px;
        }
      }
    
    
    }
    
    //CARD//
    .dashboard_card {
        height: 180px;
        width: 80%;
      
       
        .top {
            font-size: 24px;
          
           
            div {
                height: 60px;
                width: 60px; 
            }
        }
        .bottom {
            font-size: 24px;
           
           
        }
    }
    
    
    //DASHBOARD//
    .dashboard_wrapper {
        display: flex;
        flex-direction: column;
    }
    .groupB_wrapper {
        font-size: 16px;
        line-height: 21px;
        margin-top: 50px;
        >:nth-child(1) {
            padding: 0px 20px;
        }
        >:nth-child(2) {
            display: flex;
            justify-content: center;
            padding: 40px 20px;
        }
        >:nth-child(3) {
            justify-content: center;
  
        }
    
        .job-details {
            gap: 20px;
            .job-details_content {
                padding: 0px 20px;
                :nth-child(3 ) {
                    border: none;
                    padding: 40px 0px;
                }
                .btn {
                    width: 47%;
                    height: 38px;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                }
                
                p {
                margin: 0;
                font-size: 16px;
                font-weight: 600;
               
            }
    
            div {
                display: flex;
                justify-content: space-between;
                padding: 20px 0px;
                div {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    border: none;
                  
                    span {
                        font-size: 14px;
                        font-weight: 600;;
                    }
                }   
            }
                }
           
        }
    }
    
}




