.blogframe {
    padding: 100px 60px;
    background: #ECEDF2;
   

    .blogframe-text {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h1 {
            font-size: 64px;
            line-height: 87.3px;
            margin: 0;
        }
        p {
            font-size: 24px;
            margin: 0;
        }
        .btn {
            padding: 12px 30px;
            border-radius: 7px;
            background:#B304FD;
            display: flex;
            align-items: center;
            color: #ffff;
            width: fit-content;

        }
    }
}

  /* media queries (medium screen) */
  @media screen  and (max-width: 1024px) {
}
  
  /* media queries (small screen) */
  @media screen  and (max-width: 600px) {
    .blogframe {
        padding: 60px 24px;
        background: #ECEDF2;
       
    
        .blogframe-text {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h1 {
                font-size: 32px;
                line-height: 44px;
                margin: 0;
            }
            p {
                font-size: 20px;
                line-height: 27px;
                margin: 0;
            }
            .btn {
                padding: 12px 30px;
                border-radius: 7px;
                background:#B304FD;
                display: flex;
                align-items: center;
                color: #ffff;
                width: fit-content;
    
            }
        }
    }
  }