.zealtoken {
    text-align: center;
    padding: 60px;

    h1 {
        font-size: 64px;
        margin: 0;
    }
    p {
        font-size: 20px;
        color: #777777;
    }

    .zeal-image {
        margin-top: 3rem;
        img {
            width: 500px;
        
        }
    }
}