@import "../../../scss/colors";
@import "../../../scss/mixins";

.container--flexcenter {
  @include flex_center($gap: 0, $width: 100%);
}
.container--flexcenter_fullH {
  @include flex_center($gap: 0, $width: 100%);
  height: 100vh;
}
.container--flexcenter_col{
  @include flex_center($gap: 0, $width: 100%);
  flex-direction: column;
  text-align: center;
}
.container--flexfit {
  @include flex_fit($gap: 10px);
  align-items: center; //////////to edit///
}

.container--flex {
  display: flex;
  align-items: center;
}

.container--flex--col {
  display: flex;
  flex-direction: column
}

.container--flexbetween {
  @include mq(100px) {
    @include block();
  }
  @include mq(320px) {
    //style
  }
  @include mq(768px) {
    @include flex_between($dir: row);
  }
}
.container--gridColsTwo {
  display: grid;
  grid-template-columns: auto auto;
}

.container--wrapper {
  padding: 30px;
}
.container--wrapper-center-align {
  padding: 30px;
  text-align: center;
}
.container--padded {
  @include mq(220px) {
    padding: 20px 20px;
  }
  @include mq(768px) {
    padding: 30px 45px;
  }
}

// .container--progress{
//   position: absolute;
//   bottom: 50%;
// }
