.form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    div {
        display: flex;
        flex-direction: column;
        gap: 12px;

    }
    .upload-image {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .avatar {
            margin-left: 10px;
        }
    }

    .com-name {
        height: 47PX;
        border: 1px solid #AAAAAA;
        border-radius: 8px;
        text-indent: 20px;
        font-size: 14px;
        color: #353333;
        &:focus {
            outline: none; 
            border-color: #AAAAAA; 
            box-shadow: none;
        }
    }
    .com-desc {
        height: 100px;
        border: 1px solid #AAAAAA;
        border-radius: 8px;
        font-size: 14px;
        padding: 14px;
        resize: none; 
        font-family: inherit;
        &:focus {
            outline: none; 
            border-color: #AAAAAA; 
            box-shadow: none;
        }
    }
     label {
        font-size: 20px;
        line-height: 27px;
        font-weight: 400;
        margin-bottom: 10px;
       p {
        margin: 0px;
       }
      
    }

}
.f-progress-section {
    margin-top: 200PX;
    padding: 40px;
}
.fp-progress-section {
    margin-top: 400px;
    padding: 40px;
}

@media screen  and (max-width: 600px) {
    .f-progress-section {
        margin-top: 100px;
        padding: 20px;
    }
    .fp-progress-section {
        margin-top: 350PX;
        padding: 20px;
    }
}