@import "../../scss/color.scss";
@import "../../scss/typography.scss";

.num {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    h1 {
        font-size: 64px;
        line-height: 27.43px;
        margin-bottom: 40px;
        color: $blue;

    }
    h2 {
        font-size: 24px;
        line-height: 32.74px;
        margin: 0;

    }
    p {
        font-size: 20px;
        line-height: 27.28px;
        margin: 0;
        color: $slate;
    }
   
}
.special-card {
    color: red;
    font-size: 5rem;
}