li {
    list-style: url(../../assets/Icon.png); 
    margin-top: 2rem;
  

  }

  /* media queries (medium screen) */
@media screen  and (max-width: 1024px) {
}
  
  /* media queries (small screen) */
  @media screen  and (max-width: 600px) {
       
    li {
        list-style: url(../../assets/Icon.png); 
        margin-top: 2rem;
        margin-left: 0;
      }
  }