@import "../../scss//colors";
nav {
    display: flex;
    min-width: fit-content;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    border-bottom: 1px solid #eee5f1;


  
    .left-nav {
      flex: 1;
      img {
        width: 40px;
      } 
    }
  
    .mid-nav {
      color: #755f7e;
      flex: 2;
      min-width: fit-content;
     
    
      ul {
        display: flex;
        gap: 32px;
        font-size: 16px;
        font-weight: 500;
      }
      li {
        list-style: none;
        color: #755F7E;
      }
    }
  
    .right-nav {
      flex: 1;
      display: flex;
      align-items: center;
      min-width: fit-content;
      justify-content: flex-end;
      gap: 1rem;
      align-items: center;
      color: #B304FD;
      cursor: pointer;
   
      
  }
  .sign-up-btn {
      padding: 10px;
      border-radius: 5px;
      background:#B304FD;
      width: 120px;
      font-size: inherit;
      cursor: pointer;
      font-weight: 400;
       
    &:hover {
      background-color: $transparent_purple;
  }
  }
  }
  .mobile-nav {
    display: none;
  }

  .icon-box {
    padding: 10px 5px;
    display: flex;
    align-items: center;
    width: 60px;
    height: 17px;
    border-radius: 50px;
    background: rgba(204, 204, 204, 0.4);
    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 50px;
      overflow: hidden;
    }
    img {
      width: 50%;
    }
  }

  //ENHANCED NOTIFICATION//
  nav {
    position: relative;
  }
  
  .notification-box {
    position: absolute;
    top: 110%; /* Position right below the navbar */
    right: 150PX;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1; /* Ensure the notification box is above other content */
   
  }
  
  

  
/* media queries (medium screen) */
@media screen  and (max-width: 1024px) {
}
  
  /* media queries (mobile screen) */
  @media screen  and (max-width: 600px) {
    nav {
        display: none;
    }
    .mobile-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      border-bottom: 1px solid #eee5f1;
      .right-nav {
        font-size: 40px;
       
      }
    }

    .sidebar {
      

      width: 200px;
      padding: 60px 40px;
        display: flex;
        align-items: flex-start;
        font-size: 24px;
        color: #777777;
        border: 1px solid #CCCCCC;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
       background: #FFFFFF;
        height: 100vh;
        gap:2rem;
        position: fixed;
        z-index: 1000;
       
        
       .cancel {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          font-size: 40px;
          position: absolute;
          color: rgb(0, 0, 0);
          top: 17px;
          right: 17px;
        }
    }
   
  }