@import "../../../scss/utils";
@import "../../../scss/mixins";
@import "../../../scss/colors";
@import "../../../scss/typography";

.button--default {
  @include btn(
    none,
    $tint_white,
    14px,
    none,
    pointer,
    $zeal_purple,
    100%,
    6px,
    14px
  );
  outline: none;
  margin-top: 10px;
  background-color: $zeal_purple;
}
.button--default--fit {
  @include btn(
    none,
    $tint_white,
    14px,
    none,
    pointer,
    $zeal_purple,
    fit-content,
    6px,
    8px 20px
  );
  outline: none;
  margin-top: 10px;
  background-color: $zeal_purple;
}

.button--border--fit {
  @include btn(
    none,
    $zeal_purple,
    14px,
    1px solid $zeal_purple,
     pointer,
    transparent,
    fit-content,
    6px,
    6.5px 20px
  );
  outline: none;
  margin-top: 10px;
  background-color: transparent;
}

.button--outlined {
  @include btn(
    0,
    $black,
    12px,
    1px solid $grey,
    pointer,
    transparent,
    20%,
    8px,
    7px
  );
}

.button--border__zeal {
  @include btn(
    0,
    $zeal_purple,
    12px,
    1px solid $zeal_purple,
    pointer,
    transparent,
    fit-content,
    40px,
    7px 40px
  );
}

.button--border__slate {
  @include btn(
    0,
    $slate,
    12px,
    1px solid $grey,
    pointer,
    transparent,
    fit-content,
    40px,
    7px 20px
  );
}
.button--transparent {
  @include btn(
    none,
    $zeal_purple,
    $text_sm,
    none,
    pointer,
    transparent,
    fit-content,
    0,
    0
  );
}
.button--no-bg {
  @include btn(
    none,
    $black,
    $text_sm,
    none,
    pointer,
    transparent,
    fit-content,
    0,
    0
  );
}
.button--fitted {
  @include btn(
    none,
    $tint_white,
    14px,
    none,
    pointer,
    $zeal_purple,
    fit-content,
    40px,
    7px 40px
  );
  outline: none;
  margin-top: 10px;
  background-color: $zeal_purple;
}

.button__disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
// .button__error {
//   //style
// }
