.blog-frame {
    background: #ECEDF2;
    padding: 100px 60px;
 

   

    .blogframe-texts {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 485px;
     
        h1 {
            font-size: 64px;
            line-height: 87.3px;
            margin: 0;
        }
        p {
            font-size: 24px;
            margin: 0;
        }
        .blog-btn {
            padding: 12px 30px;
            width: 256px;
           

        }
    }
}

  /* media queries (medium screen) */
  @media screen  and (max-width: 1024px) {
}
  
  /* media queries (small screen) */
  @media screen  and (max-width: 600px) {
    
    .blog-frame {
        background: #ECEDF2;
        padding: 60px 24px;
     
    
       
    
        .blogframe-texts {
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: fit-content;
      
         
            h1 {
                font-size: 32px;
                line-height: 43px;
                margin: 0;
            }
            p {
                font-size: 20px;
                line-height: 27px;
                margin: 0;
            }
            .blog-btn {
                padding: 12px 30px;
              
    
            }
        }
    }
}