@import "../../../scss/color.scss";
@import "../../../scss/typography.scss";


.headers {
    padding: 60px;
    h1 {
        margin: 0;
        font-size: 40px;
    }



    .headers-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        align-items: center;

        .headers-image {
          
           img {
            width: 100%;
           }
        }

        .headers-text {
            font-size: 20px;
            line-height: 33px;
            color: $slate;
        }
    }

}


/* media queries (medium screen) */
@media screen  and (max-width: 1024px) {
}
  
  /* media queries (small screen) */
  @media screen  and (max-width: 600px) {
    .headers {
        padding: 60px 24px;
        h1 {
            margin: 0;
        }
    

        .headers-content {
            display: flex;
            flex-direction: column;
            gap: 4px;
            align-items: center;
    
            .headers-image {
                order: 2;
               img {
                width: 100%;
           
              
               }
            }
    
            .headers-text {
                flex: 1;
                font-size: 18px;
                line-height: 24.5px;
                color: $slate;
            }
        }
    
    }
  }

