.works {
    padding: 0px 60px;
   text-align: center;
}
.procedure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;

    .arrow {
        width: 62px;
        height: 32px;
    }

}