@import "../../scss/color.scss";
@import "../../scss/typography.scss";

.custom-btn {
    padding: 16px;
    border-radius: 8px;
    background: $primary-color;
    color: #ffff;
    width: 187px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    cursor: pointer;
    
    &:hover {
        background-color: $transparent_purple;
    }
}
