footer {
    padding: 60px;
    background: #521F68;
    color: #fff;

    hr {
       margin-top: 2rem;
       margin-bottom: 2rem;
       opacity: .2;
      
    }
    
.top {
    display: flex;
    gap: 1rem;
 
    
    .footer-left {
        flex: 1;
        p {
            font-weight: 400;
            font-size: 14px; 
            line-height: 21.8px;
        }
        .circle {
            border: 1px solid #7E6F84;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 13px;
                height: 13px; 
            }
           
            
        }
        .socials {
            display: flex;
            gap: 1rem;
        }
    }

    .footer-right {
        flex: 2;
        display: flex;
        justify-content: space-between;

        h3 {
            margin: 0;
            margin-bottom: 1.5rem;
            font-weight: 600;
            font-size: 20px;
        }
        li {
            list-style: none;
            margin-bottom: 1rem;
            font-weight: 400;
            font-size: 14px;
        }
        ul {
            margin: 0;
        }
        .arrow {
            padding: .5rem;
            background-color: #7E6F84;
        }

    }

  
}
.down {
    display: flex;
    justify-content: space-between;

    p {
        margin: 0;
    }

    select {
        height: fit-content;
        background: transparent;
        border: none;
        color: #fff;
    }
}
}


/* media queries (medium screen) */
@media screen  and (max-width: 1024px) {
}
  
  /* media queries (small screen) */
  @media screen  and (max-width: 600px) {
    footer {
        padding: 60px 24px 40px 24px;
        background: #521F68;
        color: #fff;
    
        hr {
           margin-top: 2rem;
           margin-bottom: 2rem;
           opacity: .2;
          
        }
        
    .top {
        display: flex;
        flex-direction: column;
        gap: 4rem;
     
        
        .footer-left {
            flex: 1;
            
      
            p {
                font-weight: 400;
                font-size: 16px; 
                line-height: 22px;
            }
            .circle {
                border: 1px solid #7E6F84;
                border-radius: 50%;
                width: 32px;
                height: 32px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 1rem;
    
                img {
                    width: 13px;
                    height: 13px; 
                }
               
                
            }
            .socials {
                display: flex;
                gap: 1.3rem;
            }
        }
    
        .footer-right {
            flex: 2;
            display: flex;
            flex-direction: column;
            justify-content: left;
            gap: 2rem;
    
            h3 {
                margin: 0;
                margin-bottom: 1.5rem;
                font-weight: 600;
                font-size: 20px;
            }
            li {
                list-style: none;
                margin-bottom: 1rem;
                font-weight: 400;
                font-size: 14px;
            }
            ul {
                margin: 0;
                padding: 0;
            }
            .arrow {
                padding: .5rem;
                background-color: #7E6F84;
                width: fit-content;
            }
    
        }
    
      
    }
    .down {
        display: flex;
        justify-content: space-between;
    
        p {
            margin: 0;
        }
    
        select {
            height: fit-content;
            background: transparent;
            border: none;
            color: #fff;
        }
    }
    }
    
  }