@import "../../../scss/colors";
@import "../../../scss/mixins";
@import "../../../scss/typography";

.progress--container__bar {
  height: 2px;
  background-color: $zeal_purple;
  transition: all;
}
.progress--container {
  background-color: $grey;
  height: 2px;
}
.wrapper--padded__children {
  .wrapper--flex__visible {
    @include mq(220px) {
      display: none;
    }
    @include mq(768px) {
      display: flex;
      gap: 20px;
      p {
        font-size: $text_sm;
        width: 65%;
      }
    }
  }
  .wrapper--flex__hidden {
    @include mq(220px) {
      display: flex;
      gap: 10px;
      p {
        font-size: $text_s;
      }
    }
    @include mq(768px) {
      display: none;
    }
  }
  @include mq(220px) {
    padding: 20px 0%;
  }
  @include mq(768px) {
    padding: 30px 13%;
  }
  h1 {
    margin: 0;
    @include mq(220px) {
      width: 90%;
      font-size: $text_lg;
      line-height: 25px;
    }
    @include mq(768px) {
      width: 90%;
      font-size: $text_large;
      line-height: 50px;
    }
  }
  .wrapper--flex--between__text {
    color: $slate;
  }
  .link {
    color: $white;
    text-decoration: none;
    font-weight: 100;
    font-size: $text_s;
  }
  .select{
    outline: none;
    width: 40%;
    color: $slate;
    border: 1px solid $grey;
    padding: 10px 7px;
    border-radius: 6px;
  }
  label{
    font-weight: 600;
  }
  textarea{
    outline: none;
    color: $slate;
    border: 1px solid $grey;
    // padding: 10px 7px;
    border-radius: 6px;
  }
}
