.textarea-label {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
       
     
     
    }

    textarea {
        height: 150px;
        border: 1px solid #AAAAAA;
        border-radius: 10px;
        font-size: 14px;
        padding: 14px;
        resize: none; 
        font-family: inherit;
        &:focus {
            outline: none; // Remove the outline when textarea is in focus
            border-color: #AAAAAA; // Set border color to transparent
            box-shadow: none; // Remove any box shadow
        }
    }
    
  
}

