.textarea-label {
    display: flex;
    flex-direction: column;
    gap: 5px;

    label {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
       
     
     
    }

    textarea {
        height: 120px;
        border: 1px solid #AAAAAA;
        border-radius: 10px;
        font-size: 14px;
        padding: 14px;
        resize: none; 
        font-family: inherit;
        &:focus {
            outline: none; 
            border-color: #AAAAAA; 
            box-shadow: none;
        }
    }
    
  
}

