$teal: #F7F7F7;
$black: #101010;
$slate: #777777;
$white: #ffffff;
$grey: #cccccc90;
$zeal_purple: #b304fd;
$tint_white: #fffffff6;
$surface_purple: #521f68;
$dashboard-blue: #007AFF;
$dashboard_green:#53C546;
$active_status-green:#20A312;
$dashboard_deepgreen:#2D432C;
$transparent_green:#CDFFC5;
$error: rgba(255, 49, 49, 0.838);
$error-transparent: rgba(255, 49, 49, 0.149);
$transparent_purple: #b204fd4e; //opacity 6% / 4%(HIW)