$black: #101010;
$slate: #777777;
$white: #ffffff;
$grey: #cccccc90;
$primary_color: #b304fd;
$tint_white: #ffffffe1;
$surface_purple: #521f68;
$transparent_purple: #b204fd4e;
$blue:#0000FF;
$gold: #EFAD01;
$green: #008000