.benefit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px;
    


    .benefit-contents {
        width: 70%;

        h2 {
            font-size: 1.9rem;
        }
        
        li {
          list-style: url(../../assets/Icon.png); 
          margin-top: 2rem;
        }

        h3,p {
            margin: 0;
            margin-left: 0.5rem;
        }
       

        p {
           
            color: #777777;
        }
        
    }


    img {
        width: 70%;
    }
    .benefit-image {
        display: flex;
        justify-content: flex-end;
    }
}