.recom {
    padding: 40px 60px;
    text-align: center;
    position: relative;

    img {
      position: absolute;
    }
    .icon {
      top: 2.3em;
      left: 32%;
    }
    .icon1 {
      top: 5rem;
      right: 36%;
    }

    h1 {
      margin: 0;
    }
   
  p {
    color: 
    #777777;
  }

  
  .btn {
    padding: 12px 30px;
        border-radius: 7px;
        background:#B304FD;
        display: flex;
        align-items: center;
        color: #ffff;
        width: fit-content;
        margin: auto;
}
}