.recom {
    padding: 0px 60px;
    text-align: center;
    position: relative;

    img {
      position: absolute;
    }
    .icon {
      top: 0;
      left: 32%;
 
    }
    .icon1 {
      top: 3.3rem;
      right: 36%;

      
    }

   
  p {
    color: 
    #777777;
    line-height: 33px;
  }

  
  .btn {
    padding: 12px 30px;
        border-radius: 7px;
        background:#B304FD;
        display: flex;
        align-items: center;
        color: #ffff;
        width: fit-content;
        margin: auto;
}
}